[2016-02-26 21:36] e-jameson opened #2 "Test layout options with Packery"
http://packery.metafizzy.co/

1. Would this be helpful for a layout builder?
2. Would this be useful in doing the layout for us?

Maybe make a branch and mess around with different configs.

[2016-09-07 12:48] #2 closed

[2017-04-10 21:09] kelslundberg opened #11 "Deep linking and indicator of where you've linked"
Deep linking:
We need to be able to deep link to specific portal channels from external webpages.

Indicator of "active" or "linked" channel:
Then, we talked through some possibilities for how to highlight the channel once you're in the portal. It sounds like we're thinking to look at masking all other portal channels so it looks like the channel that was linked to is "active."

Plan B would be to

[2017-04-10 21:13] kelslundberg opened #12 "Breadcrumbs"
We decided we wanted breadcrumbs for portal tabs.

Also, possibly breadcrumbs for channels if we decide we're linking to channels as pages.

[2017-04-10 21:15] kelslundberg opened #13 "Look at rendering channels as pages"
J-mo is going to look into what it would take to render each channel as a page in the portal in case we wanted to have the ability to click on a channel and have it open as a page within the portal.

[2017-04-10 21:16] kelslundberg opened #14 "Load testing"
J-mo's team to look at load testing for the portal.

[2017-04-10 21:17] kelslundberg opened #15 "Profile"
We can start work on pulling in profile data for portal users:

https://docs.google.com/spreadsheets/d/1LQMvAwEcuNbKUIxMoRN8nRvALYRYj3A_HD8BmzKt_4k/edit#gid=652413578

Then we'll figure out how we want it to display.

[2017-04-10 23:11] kelslundberg opened #16 "Forms listing block and channel"
**Forms listing block:**

We need to create a data definition and block for a forms listing.

This will be used in each office site and house a list of forms for that office to display both on a webpage within the office site and within the appropriate office section on a forms channel in the portal (to avoid maintaining forms lists in two places).

The data definition would need to accommodate a

[2017-04-10 23:13] kelslundberg opened #17 "Collapsible lists"
We're going to need to be able to do collapsible lists in the portal.

I didn't know if this was a separate issue from the Forms Channel request? We can certainly consolidate issues if needed :)

[2017-04-10 23:13] kelslundberg opened #18 "Checklist"
J-mo was going to get started on pulling the existing enrollment checklist into the portal and we'll go from there :)

[2017-04-11 14:49] e-jameson opened #19 "Confirm portal works when a channel fails"
We need to confirm that the Portal will work correctly when a single channel doesn't work. This channel should have some sort of error message on what to do. We should confirm by having channels randomly fail for a while like we did on the dashboard.

[2017-04-11 16:32] e-jameson commented on #18
This has data, I'm using username mws25934 to pull in the checklist.

[2017-04-11 18:32] e-jameson commented on #15
I'm meeting with Derek tomorrow (4/12), I'll kick off getting data for this when I do.

[2017-04-13 15:12] c-schwarze commented on #13
I added a button on the channels to be able to render the channel as a page. The left most button (of the 4) will take you there. The url can then be taken to go to the page directly.

There is still some formatting to take care of, as some channels don't render for the whole page.

[2017-04-13 15:54] c-schwarze commented on #11
I added in a proof of concept for highlighting channels. We can explore another way to select the channel in the URL, so as to not be using the cascade path. If you click outside the selected channel or if you wait 10seconds, the blur disappears.

https://portal.bethel.edu/?selected_channel=/_blink-content/portal/channels/bethel-events

[2017-04-17 17:18] kelslundberg commented on #11
Thanks, Caleb!! Super helpful to see a working version of this.

I'll get this on the agenda to look at with the team today.

[2017-04-17 20:41] kelslundberg opened #22 "Course list channel"
We're needing a channel that pulls in active courses for students:

Based on our meeting today, we're thinking:
- Pulls active courses from Banner
- Links to the course in Moodle if there's a Moodle course (no link if the course is not in Moodle)
- A link to past courses

Let me know if you need any more details or have any questions!

[2017-04-17 20:45] kelslundberg commented on #11
This is looking really good! Just a few updates from the meeting:

- Can we do a gray background instead of the blurred channels (ask Jake for more specifics if needed)
- Yellow highlight on the channel goes away when you click
- Use the top of the channel as the anchor point for mobile

Let me know if you need any more clarification here!

[2017-04-17 20:49] kelslundberg commented on #13
This is looking good 👍  I showed the team and no updates needed so far....

[2017-04-17 21:04] kelslundberg opened #23 "Sticky message"
We're thinking we want a sticky message that can go at the top of the content area in the portal for Bethel Alert or another type of emergency message.

The message would be editable in Cascade.

[2017-04-17 21:05] kelslundberg commented on #18
Vedmic wants this moved to the top content area where the checklist is to see what it looks like when the checklist is this long.

[2017-04-17 21:08] kelslundberg commented on #18
When the enrollment checklist isn't active, we should have a message reading:

Your enrollment checklist will be active on _month date, year_.

Your enrollment checklist will be active on April 11, 2017.

[2017-04-17 22:51] kelslundberg opened #24 "My Statements & Balances"
We've talked about pulling all statement and balances into a similar section of the portal.

Not sure if these will be all in one channel or in multiple channels that are grouped together. I started mapping out the content we'd need here - in the section My Statements & Balances:

https://docs.google.com/spreadsheets/d/1LQMvAwEcuNbKUIxMoRN8nRvALYRYj3A_HD8BmzKt_4k/edit#gid=0

Let me know if there's

[2017-04-17 22:59] kelslundberg opened #25 "Leave report and time sheet reminders"
It sounds like if Derek has time, we'd love to work on pulling data for leave report and time sheet reminders.

If I remember the logic correctly, it sounds like this is dependent on knowing if someone is exempt or hourly in order to pull the proper reminder (Leave Report Due or Time Sheet Due). I'm not sure if hourly folks have Leave Reports as well or if they only have time sheet reminders?

We'

[2017-04-19 15:03] c-schwarze commented on #19
This should be working. If we randomly cause one to fail, it will only occur from one possible error.

I will go ahead and add some channels that are missing values, have incorrect values, an unhandled type, or bad data.

[2017-04-19 15:55] c-schwarze commented on #19
I will leave the 4 extra broken channels in. we can remove them whenever.

[2017-04-19 15:55] #19 closed

[2017-04-20 17:47] c-schwarze commented on #11
Alrighty, take a look and see how it is now! (you may need to clear your cache)

[2017-04-20 18:16] kelslundberg commented on #11
It's looking good! I've passed it along to Jake - he's going to let us know if he has any updates. I can look with the team on Monday too :) Thanks!

[2017-04-20 19:03] kelslundberg commented on #16
Let's hold on this - I'm thinking we might just want to link people to the appropriate office webpage that houses the list of forms instead of having all the forms listed out in the portal.

[2017-04-21 19:58] e-jameson commented on #24
@c-schwarze, can you start working on a Python class to build this. We have a few of these balances available via the WSAPI. Let's pull in all we can, and then get a list of the rest of the datapoints to Derek to build another endpoint.

[2017-04-21 20:01] e-jameson commented on #15
@dstavem, I'm adding a high-priority label to this task so you know its the one we'd like done first.

[2017-04-21 20:14] e-jameson commented on #25
@dstavem assigning you to this one. Gregg O. started working on this a while back. He has two procedures created for it:

- bth_portal_channel_api.supervisor_timesheet
- bth_portal_channel_api.employee_timesheet

The channels we are looking to crecreate are Time Reporting Reminders and Time Approval Reminders on the Work Life Tab.

Setting to medium priority for now, as we are working on the Profi

[2017-04-21 21:25] c-schwarze commented on #24
@dstavem, when you have a chance could you help us get these values? If we could get these values in 2 procedures, that would be great.

1. Pay stub information
   * Most recent employee pay stub link
   * Date of the pay stub.
2. Statement information (can be found at Blink > Work Life > My Statement
   * Bill date
   * Amount Due
   * Due Date
   * Account Balance

Let me know if you need more i

[2017-04-24 14:49] c-schwarze commented on #24
Am I correct in thinking these Banner links are static?

https://banner.bethel.edu/prod8/bwpkhstb.P_ChoosePayStubYear
https://banner.bethel.edu/prod8/bwsksphs.P_ViewStatement?p_view_type=A

[2017-04-24 15:11] dstavem commented on #15
Questions:
1. How should I handle multiple programs/degrees/majors?  For example, do you want (a) one row per student with just the first program, (b) one row per student with a column for program_1 and program_2, or (c) two rows for a student with each program in a single column?
2. How should I handle people who have data in certain categories but not the role?  For example, I used to be a stude

[2017-04-24 17:00] c-schwarze commented on #12
Some notes on todos:

* Mobile view will include title.
* Full page channel will include breadcrumb.

[2017-04-24 17:18] kelslundberg opened #29 "Financial aid awards"
We're going to explore the possibility of improving the FinAid award acceptance process.

If possible, we'd like to see something in the portal that more closely resembles how the award package is displayed in the letter and have it easy for a student to accept their award package from there.

Next steps:
- Get a copy of award letter (Dawn sending to Tim)
- Get sample award data in Banner to work

[2017-04-24 17:20] kelslundberg opened #30 "Mobile app"
Vedmic is telling people this will be an app on their phones - so we're needing to find the best way to make that happen :)

[2017-04-24 19:12] e-jameson commented on #15
1. I'd say one row with multiple columns, or have them in one column with a separator, like a ; or something.

2. Someone like you should return a NULL

3. Lets try two fields here. If its not hard, could you give us the username of a person that would fall into a scenario like this that we can use to test?

4. We are already pulling photo, but it would be good to include it as part of this proced

[2017-04-24 22:19] c-schwarze commented on #12
Updated, take a look at both links with respect to mobile and desktop views

1. https://portal.bethel.edu/deep_link_channel/?channel_path=/_blink-content/portal/channels/bethel-news&tab_title=Home
2. https://portal.bethel.edu

[2017-04-25 15:44] dstavem commented on #15
I have created a procedure in **bth_portal_channel_api**.  It is called **bth_portal_channel_api.bu_profile**.

Feel free to take a look and let me know if you have questions so far.

I created 2 fields for degree, program, major, etc.

Class standing is currently pulling NULL because of a security issue with the function I used.

Also I still need to pull in job title and department.  However, so

[2017-04-26 20:07] e-jameson commented on #15
Thanks Derek, I'll take a look at these.

As far job titles, can we do a list with a separator? And is it possible to put the "main" one first?

[2017-04-26 20:10] c-schwarze commented on #24
Here is a screenshot of a very basic prototype. The top 2 sections still need to be automated, and we need to verify the banner links.

![screen shot 2017-04-26 at 3 05 55 pm](https://cloud.githubusercontent.com/assets/7849657/25454391/e836024e-2a91-11e7-9a22-02b5c458e61e.png)

[2017-04-26 20:11] c-schwarze commented on #23
This is put on hold. We will come back to this at a later time.

[2017-04-26 20:17] c-schwarze commented on #12
@johjacb Any thoughts on styling this up?

[2017-04-26 20:27] valehavenhomes commented on #12
the left margin of the title and breadcrumb should match the left margin of the channel i think

![screen shot 2017-04-26 at 3 26 26 pm](https://cloud.githubusercontent.com/assets/28057499/25455268/ca74fcda-2a94-11e7-83ac-f5912b2b7790.png)

[2017-04-26 20:33] johjacb commented on #12
size/color look good. left margin on the title and breadcrumb should match the left margin on the channels below

![screen shot 2017-04-26 at 3 26 26 pm](https://cloud.githubusercontent.com/assets/2394337/25455490/a05b32a6-2a95-11e7-92f1-84b9e6add558.png)

[2017-04-26 20:45] c-schwarze opened #35 "Long channel names"
Currently, if a channel name is too long it pushes the settings (top right corner of the channel) down.

If a channel title is too long, I would say we either develop a way to wrap the title, or we add '. . .' to the end of the title.

[2017-04-26 21:48] c-schwarze commented on #18
@johjacb I added the current checklist to the dashboard.

[2017-04-27 15:37] e-jameson opened #36 "Caching"
I expect there will be a number of channels we can cache and re-use for periods of time. Lets look into some sort of memcached library to help with this.

[2017-04-27 15:49] e-jameson opened #37 "Load Times"
There is already a decent load time on the new portal. I added a little logging to the render_channel function to print load times for each channel. Here are the current values:

Caching will help a few of these, but lets keep an eye out for particularly bad ones.

**render_channel Timesheet: 0:00:00.877373**
render_channel A WYSIWYG Test: 0:00:00.021459
render_channel Bethel News: 0:00:00.035936

[2017-04-27 15:50] e-jameson commented on #36
Is there any way we could utilize some sort of Browser/Session storage so the user clearing their cache will reset their cache? We could probably get away with cacheing some banner channels longer.

[2017-04-27 15:56] e-jameson opened #38 "RHEL7/Python 3"
We need to move the service and vhost to a new RHEL7 server, and ideally do any upgrades to develop against Python 3 in the meantime. Aaron is investigating getting Python3 installed on a new server and then we'll schedule a time to move it and get it running.

We should also transition anything in Puppet to use the PuppetForge::Apache module at the same time.

[2017-04-27 18:37] johjacb commented on #18
can you strip out the old style classes (uportal) and convert to Bootstrap's classes?

[2017-04-27 21:36] e-jameson commented on #15
Hey Derek, I'm working on updating the profile picture on the site to pull from the URL this procedure returns. It looks like the URL I'm getting currently isn't available in the browser.

The procedure is returning: bsp-nas.its.bethel.edu\\Departments\\StudentLife\\Public\\DataCard\\IDCentre\\Photos\\49553.jpg

We are currently loading: https://bsp-nas-dav.bethel.edu/IDCentre/Photos/49553.jpg

Ho

[2017-04-27 21:40] c-schwarze commented on #18
Updated.

Let me know if you want me to do anything else.

[2017-04-27 21:41] e-jameson commented on #15
Would we also be able to add ResBuilding and ResRoom like we are doing with the Wufoo Preload Common procedure for undergrad students?

[2017-04-27 21:48] c-schwarze opened #39 "Have channels render one at a time"

[2017-04-27 21:58] c-schwarze commented on #12
I updated the margin.

[2017-04-28 12:35] johjacb commented on #18
thanks for removing the classes.

I should've been more detailed in more previous request. Can you also strip out all extras, such as align="center", border=0, <br> etc?

thanks

[2017-04-28 14:02] kelslundberg commented on #29
Hey, @e-jameson - I talked with FinAid a little bit more yesterday about awards and learned more about the process and some improvements they'd love to see (if it's possible). They aren't necessarily needing it to look just like the letter - they're certainly flexible based on what we can/can't do. Also, some of these changes might be Banner things that we can't/don't want to do - but thought I'd

[2017-04-28 14:10] c-schwarze commented on #18
Updated.

[2017-04-28 14:12] johjacb commented on #18
great - looks good. I see a few < br > s in there, could you remove those too? Thanks

[2017-04-28 14:15] c-schwarze commented on #18
Done

[2017-04-28 15:01] kelslundberg commented on #22
FYI - The registrar loves this idea...

They also want to keep links into SSB for:

Week at a Glance
Student Detail Schedule

It makes sense to me that these to links go along with this channel. Maybe a section below the course list? These links are currently in the Registration Tools channel.

[2017-05-01 13:58] johjacb commented on #18
Could you change the icons to use the ones included with the theme? thanks.
let me know if you need help with this

[2017-05-01 18:54] c-schwarze commented on #18
I added in the new icons.

[2017-05-01 21:38] c-schwarze commented on #39
We are using vanilla JS, which makes this slightly harder to use, but not a huge deal.

I am going to swing back to this later, as it seems like its not too helpful at the moment because we don't have channels that take too long to render. (rendering the page is about 2-2.5s).

It also seems like its going to be tough. The current branch is here:

[2017-05-02 14:07] kelslundberg opened #40 "Remove channel actions"
Per our conversation yesterday, we talked about removing these actions from the top of the channels:

- X (or ability to remove the channel)
- Config options

[2017-05-02 14:11] kelslundberg opened #41 "Keep channel collapse/toggle settings"
This is low priority.

It would be great to keep someone's settings if they've decided to close/collapse certain channels on their screen. So if they toggle a channel closed it would stay closed until they toggle the channel back open...

Toggle is a funny word :)

[2017-05-02 14:12] kelslundberg opened #42 "Full screen display for all channels"
We need all channels to be able to fit full screen/width.

[2017-05-02 21:47] e-jameson commented on #40
I removed these two icons from the channels.

[2017-05-02 21:47] #40 closed

[2017-05-03 18:26] e-jameson commented on #15
Hey @dstavem any update on getting the profile photo updated, as well as getting Job and Residence info?

Thanks!

[2017-05-03 19:26] dstavem commented on #15
I have not gotten back to this - how soon do you need it?  I'll try to work
within your time frame.  Thanks,

Derek

Derek Stavem
Systems Analyst
Enterprise Information Systems & Services
Bethel University
651.638.6723

On Wed, May 3, 2017 at 1:26 PM, Eric Jameson <notifications@github.com>
wrote:

[2017-05-03 19:27] e-jameson commented on #15
We don't have a set deadline, sometime in the next few days would be great if possible so we can move on the other features.

Thanks

[2017-05-03 20:09] kelslundberg opened #43 "HR new faces/new places channel"
We talked about creating a data definition for new faces/new places channel to make formatting and loading easier for HR.

Fields:

- Name
- Title
- Office/Department
- Image (link to directory photo)

They want a different name for this channel too, which Erik and I will need to think of...

Also - @c-schwarze and @e-jameson - I don't know if you all have talked about this yet, but if web authors

[2017-05-03 20:25] kelslundberg opened #44 "HR news"
HR would like to keep their channel for HR news - so we'll need to pull that into a channel:

https://cms.bethel.edu/entity/open.act?id=2964e0c58c5865133973dd3eb5b1cc71&type=folder&

They also asked about being able to target HR news to student employees and San Diego staff. I think we talked about one channel with three targeted sections.

Would we prefer to set everything for that up at the same

[2017-05-03 21:01] e-jameson commented on #12
@c-schwarze @johjacb can we close this now?

[2017-05-03 21:10] dstavem commented on #15
Photo is now updated to match the format you gave.  I left the old one there to compare in case you have any issues.  The old one is labeled "photo_old."

[2017-05-03 21:19] c-schwarze commented on #12
yeah

[2017-05-03 21:19] #12 closed

[2017-05-03 21:24] #23 closed

[2017-05-03 21:33] e-jameson commented on #35
I'm going to update the data-def to limit titles to 30 characters. At 30 its currently not working, but thats about the longest title we currently have in Blink.

@johjacb can you take a look at the style to make sure a 30-character title functions well? Tablet-view seemed the most problematic when I was testing.

[2017-05-03 21:42] dstavem commented on #15
Residence info added.

I'll try to add job title/dept tomorrow.

Let me know if you see any issues.  Thanks!

[2017-05-04 14:03] e-jameson commented on #35
Nevermind, can't set a character limit unless we change the data definition. Jake is there a way we can wrap the title better?

[2017-05-04 14:32] e-jameson commented on #44
@kelslundberg, I think lets set it up as-is for now and add the sections later.

@c-schwarze do you think its worth making a more general "News Channel" at this point?

[2017-05-04 14:53] c-schwarze commented on #44
Maybe. How would we distinguish HR news from news articles? We could pass parameters with the Class path for the channel in cascade.

I would be fine if they merged, since we would probably share the same template anyway.

[2017-05-04 14:57] c-schwarze commented on #39
We are limited by a certain number of ajax calls, so if we have lots of channels, calling them individually is an issue.
http://stackoverflow.com/questions/985431/max-parallel-http-connections-in-a-browser

I am looking into trying to bundle them together.
http://stackoverflow.com/questions/14917356/dealing-with-jquery-statement-with-lots-of-ajax-calls

[2017-05-04 15:01] e-jameson commented on #44
Currently the news channel has a URL that it calls to get the feed. I was thinking we move this to Cascade as a Parameter for a News Channel, and have one Python class that finds the URL and embeds it. Thoughts?

[2017-05-04 15:13] c-schwarze commented on #44
That sounds good. Should this field be a more generic 'options' field in the channel data def?

[2017-05-04 15:28] c-schwarze commented on #39
We are holding off for now on this. Going to look into cache first #36

[2017-05-04 18:04] e-jameson commented on #29
@kelslundberg I posted some screenshots in Slack. I think the new Banner might help address this. Otherwise let's talk with Lisa when we meet next week. Most of these changes would be in Self Service.

[2017-05-04 18:11] c-schwarze opened #45 "Refresh Channel button"
It might be helpful to add a button to each channel that reloads the content of the channel. If we go ahead with the cache option (#36), I think it would be helpful to be able to refresh a channel on click.

Adding low priority.

[2017-05-04 18:18] e-jameson commented on #37
Closing this and referencing issue #36 A good cacheing system will make long load times less of an issue.

[2017-05-04 18:18] #37 closed

[2017-05-04 18:20] #13 closed

[2017-05-04 21:04] e-jameson commented on #44
I added a News Channel type and created an HR news channel. Its the same HTML as current Blink, so it needs some work, and we'll also have to update it when we break it out into sections.

[2017-05-04 21:20] c-schwarze commented on #35
This is fixed! just had to properly pull the css updates from ages ago

[2017-05-04 21:20] #35 closed

[2017-05-04 21:21] e-jameson commented on #43
We are going to brainstorm this tomorrow (May 5). If we come up with a solution that allows them to maintain the content in their site we'll do that I think. Otherwise we'll find a way for them to edit only HR content in the Portal folder.

[2017-05-05 16:17] c-schwarze opened #46 "Updating Tabs and Channels Workflows"
I figured it would be helpful to at least start the discussion or document it for later.

Right now, updating a tab and publishing the xml will update portal.bethel.edu. Eventually we will have the staging xml hooked up to portal.xp.bethel.edu (when it exists) and the prod xml hooked up to portal.bethel.edu. I think it would be wise to add some extra workflows or other precautions so we don't acci

[2017-05-05 16:42] kelslundberg commented on #29
We'll talk more next week for sure!

It does look like the current checklist item for Accepting Loans is going to a webpage on Finaid, which tells them to go back into Blink :) SO at the very least we'll want to get that link going to the Awards area in Banner

[2017-05-05 22:00] c-schwarze commented on #30
portal.bethel.edu has an example of a solution to this. It can only be seen on mobile and has some settings we are able to play around with. http://cubiq.org/add-to-home-screen

Lets take a look at this on Monday, if we have time.

[2017-05-08 14:47] c-schwarze commented on #39
If we do need to do this, I think the best way would be to only have it be on the Python class calls:
1) create a url endpoint that accepts a cascade id and the section number
2) in our section rendering for 'Python Class', return the necessary JS/AJAX to call the new endpoint. Need to grab the id and the section number

[2017-05-08 15:03] c-schwarze opened #49 "Notifications"
I know this was mentioned as something we would like to have.

We need to display notifications from various channels that require attention. For example, if the checklist has any red X's, give the user a notification of some sort.

[2017-05-08 16:13] kelslundberg commented on #43
Sounds great!

[2017-05-08 18:09] c-schwarze commented on #43
Phil created this (still needs more styling) on the homepage (bottom right)

[2017-05-08 19:06] c-schwarze opened #50 "New Homepage and Checklist"
@johjacb and I will work on getting this started. To quick summarize:

* Add notification button to the top right
* Change the dashboard to be a mini dashboard with a button
* Both the notification and the dashboard take us to a separate page (tab?) with the checklist

Jake, let me know how you want to go about getting this started.

[2017-05-08 20:29] c-schwarze commented on #30
The settings can be changed, if we want them to be. The current settings are:

* not mandatory
* appear 3 times (can only receive it once per day)
* it will try to not show up after they choose to 'add to homescreen'
* it will remain on the screen until they click away or 'add to homescreen'

[2017-05-08 20:42] c-schwarze opened #51 "Create a way to test various roles and act as users"
We should add a 'Admin only' menu option that allows a user to view the portal as a specific user, or for a specific role (maybe have a select field to choose any combination of roles?).

[2017-05-08 20:43] c-schwarze commented on #36
Cacheing works great, except on channels that reuse python classes. Those need additional identifiers (like url?)

[2017-05-08 21:11] c-schwarze commented on #42
This works now!

Do any channels need any extra work? or can this be closed?

[2017-05-08 22:10] c-schwarze commented on #36
updated and closing

[2017-05-08 22:20] c-schwarze commented on #51
Here is what I am thinking, but I want to talk this through being developing much of this.

We should add a drawer for admin options. Admins should be able to go to a separate page with 2 options: view portal by username and view portal by roles. Username will be a write-in and roles will be a select field. Once you click 'View', you will be redirected to the homepage and see what that user sees,

[2017-05-09 15:13] c-schwarze commented on #51
@e-jameson and @hamtim, I talked with Kelsey but she wanted me to double check with you guys on this. Does my comment above sound like a good idea?

[2017-05-09 15:24] kelslundberg commented on #50
Thanks, for adding this!

@johjacb - did you want me to spend some time looking at some of the layout options for the theme and thinking about how to break up the checklist into something more user friendly? Or was there something you saw during our meeting that you already wanted to use?

[2017-05-09 15:26] kelslundberg commented on #16
Closing this - we decided we're not going to have a Forms channel. Instead, we'll have appropriate links to forms where needed and have the new offices directory.

[2017-05-09 15:26] #16 closed

[2017-05-09 15:27] kelslundberg commented on #18
@c-schwarze should we close this one since we have the new one open - or do you want to keep this one open as well?

[2017-05-09 15:30] c-schwarze commented on #18
Yeah lets close this

[2017-05-09 15:30] #18 closed

[2017-05-09 15:33] kelslundberg opened #54 "Offices directory"
We're hoping we can get the offices directory done as part of this project.

@hamtim @vedmic - want to add anything to this list of info to include?

- Office/department name
- Link to website
- Hours
- Phone
- Location

[2017-05-09 15:35] kelslundberg commented on #54
@c-schwarze - just let us know if there are any other details you need beyond the list of fields!

[2017-05-09 16:14] e-jameson commented on #51
I think this is a great idea. Do you think its worth selecting which role-set you want, instead of just one at a time?

[2017-05-09 16:18] c-schwarze commented on #51
I talked with Kelsey and she thought that if someone was going to be specific enough with multiple roles, they would have a username.

[2017-05-09 16:25] kelslundberg commented on #29
We're meeting on Friday to discuss all FinAid needs.

[2017-05-09 16:31] e-jameson commented on #51
That makes sense to me.

[2017-05-09 20:15] e-jameson commented on #50
@c-schwarze how are we expecting these notifications to work? Do we load them every time from Banner or something?

[2017-05-09 20:19] c-schwarze commented on #50
Yeah along those lines. We just need to create guidelines for what determines a notification and build that in our banner proc calls. At least that was my thought and I felt as though it was decently reasonable.

[2017-05-09 20:19] e-jameson commented on #43
Closing this for now. @kelslundberg if we decide we want to split HR News into more channels, lets create a new issue to do that.

[2017-05-09 20:20] e-jameson commented on #44
Closing this for now. @kelslundberg if we want to split HR News into more sections later, lets open a new request to develop that.

[2017-05-09 20:20] #44 closed

[2017-05-09 20:53] e-jameson commented on #17
@kelslundberg Do we still need this with the forms channel going away?

[2017-05-10 15:20] johjacb commented on #50
It seems to me that we may need a little bit more discussion on this topic. I personally could use some clarification. And it looks like the notifications need some further discussion as well. Maybe we can put this on our agenda for the next meeting?

[2017-05-10 16:10] e-jameson commented on #41
I started working on an implementation for this. It uses JS so you can see the channels collapse when the page is loading. We could try using the Python session and POST requests to have the backend be aware of which state to load them in.

[2017-05-10 17:58] kelslundberg commented on #17
Let's close and reopen if we decide we need it.

[2017-05-10 17:58] #17 closed

[2017-05-11 16:25] e-jameson commented on #41
Bug: This doesn't work correctly if there are two of the same channel (same HTML ID).

[2017-05-11 21:59] c-schwarze commented on #51
I added a basic way to test this out. I didn't want to style it up too much, in case we change the idea.

In the side nav, under the tabs, go to 'Admin' (portal.bethel.edu/admin). This will then take you to act as a different user or role.

[2017-05-12 12:42] kelslundberg commented on #50
Also, I'm meeting with @hamtim today to look at financial aid requirements so if we have a few minutes we can spend sometime with the checklist/notifications as well.

[2017-05-12 12:43] kelslundberg commented on #51
Thanks so much! I'll add this to the agenda for Monday.

[2017-05-12 16:01] e-jameson commented on #51
I tested this. Worked great viewing Emily's account, but I got stuck in her account even after clicking "return to your account"

[2017-05-12 16:46] c-schwarze commented on #51
This should be fixed. The issue was the session not properly clearing on production

[2017-05-12 16:47] c-schwarze opened #56 "Sidenav tabs"
We need to pull the tabs automatically

[2017-05-12 17:24] kelslundberg commented on #42
I did some testing and it's looking good to me. I'd say we can close and then test this feature on new channel types and report any bugs if we notice them?

[2017-05-12 17:36] c-schwarze commented on #42
Sounds good.

[2017-05-12 17:36] #42 closed

[2017-05-12 18:41] c-schwarze commented on #56
Added. closing

[2017-05-12 18:41] #56 closed

[2017-05-12 21:18] c-schwarze commented on #30
@johjacb addtohomescreen.js needs to have a good amount of icons created. Let me know if you think its reasonable to have all of these images or if we need to modify their code to do it more automatically.

[code]

[2017-05-15 16:03] c-schwarze commented on #24
@dstavem Any update on this?

[2017-05-15 17:16] johjacb commented on #30
i've added this list previously. should be there in the <head>

[2017-05-15 20:08] kelslundberg commented on #50
Here's what we decided today:

Enrollment checklist will be it's own tab
We're grouping list items by topic in separate sections or channels
Each section/channel will have some sort of progress bar or indicator of completion stations for that section

[2017-05-15 20:10] kelslundberg commented on #49
Here's what we decided today:

- Enrollment checklist tab will have little notification indicator in tab menu on left
- We'll use the notification icon in the top banner area
- Homepage will have some kind of widget to get people to the enrollment checklist as well as notifications indicating how many todos are open

[2017-05-15 20:24] dstavem commented on #24
@c-schwarze  ,

I haven't had a chance to look at this yet.  Can you set up a time with me to clarify some details with your request?  We can meet in my office or your area if you'd like.  Thanks!

Derek

[2017-05-19 16:26] c-schwarze commented on #30
Okay I added back these images/favicons that were missing.

This should be good to go, we will just need to talk about settings down the road. I will leave this in the 'review' category for now.

[2017-05-19 21:34] dstavem commented on #15
Sorry for the delays here.  I've now added title and dept for employees.  If there are more than one, they are in a single field separated with pipes.  Let me know if you have questions when you dig into things.  Thanks,

Derek

[2017-05-19 22:06] c-schwarze commented on #22
I am putting some code here so it doesn't get lost. Feel free to ignore:
[code]

[2017-05-22 15:21] kelslundberg commented on #50
@c-schwarze @johjacb Just checking in to see if we've made any progress on this since last meeting!

[2017-05-22 15:46] johjacb commented on #50
yes, albeit minimal

[2017-05-22 15:48] c-schwarze commented on #50
I added some fairly basic notification icons to the menus.

[2017-05-22 18:30] c-schwarze opened #62 "Google Analytics"
I know we mentioned a while back that we want to get this hooked up with GA.

[2017-05-22 20:07] e-jameson opened #63 "icons should open in new tab"
all icons should, I believe.

[2017-05-22 20:39] c-schwarze commented on #24
@dstavem it appears we are changing this a bit on you.

* We will still need the 'Statement Information' (no change here).
* We would love to also be able to pull in 'time off' hours. Specifically, vacation hours, personal hours, and sick hours. We would love the 'time off' hours to be individual points of data, similar to the 'Statement Information'.

Let me know if you have any questions

[2017-05-22 20:51] kelslundberg opened #64 "Your Counselor Channel for Applicants"
We talked today about having a channel for applicants that displays their counselor info. I think it can be called Your Counselor.

We're going to start by pulling this data from counselor page:

Photo
Name
Email
Phone

Then, we'll figure out how we want to connect pages to counselors in sales force.

[2017-05-22 21:14] kelslundberg commented on #43
Need a fixed with for the directory photos :) Not sure if this is @c-schwarze or @johjacb
![screen shot 2017-05-22 at 4 13 19 pm](https://cloud.githubusercontent.com/assets/6525391/26328693/b9e3a5e0-3f09-11e7-999f-f2b62a113a5c.png)

[2017-05-23 19:37] c-schwarze commented on #64
I added a basic counselor channel. Its on the homepage, third column.

[2017-05-23 20:20] c-schwarze commented on #49
The connection to the enrollment checklist is here: #50

[2017-05-24 15:03] e-jameson commented on #63
Icons open in new tabs now and are being loaded from Cascade.

[2017-05-24 15:03] #63 closed

[2017-05-24 18:15] e-jameson commented on #15
@johjacb can you take a look at this? All the data that we have is in there, I just don't really have a vision what it should look like. The HTML is in a Macro in this file:

https://github.com/betheluniversity/portal/blob/master/app/channels/profile_channel/profile.html

If we want to make any large changes let me know and I can assist.

[2017-05-24 18:52] johjacb commented on #15
I think we need to decide what content we want first before we design it. our previous discussions have shown that we all have pretty different ideas about what some of these big sections should look like

[2017-05-24 18:55] e-jameson commented on #15
@kelslundberg gave us a list of data in the original post. Did we talk about any content besides whats in that grid?

[2017-05-24 19:05] kelslundberg commented on #50
@c-schwarze and @johjacb

Here's an idea for some content for the homepage widget that gets people to the checklist.

## **My Checklist**
View your enrollment checklist to get ready for your next term at Bethel.

**Todo Items**
_Real time number here of how many todo items they have open_

I did add a channel (my-checklist) to the home tab with this content as kind of a place to start...

Maybe it

[2017-05-24 19:10] kelslundberg commented on #50
Also, not sure about what would be the link..are these whole widgets designed to link somewhere?

[2017-05-24 19:20] kelslundberg commented on #64
Awesome!

[2017-05-24 20:10] e-jameson commented on #43
@phg49389 can you update the faces/places format to use the same #renderImage macro that the Events channel uses:

https://cms.bethel.edu/entity/open.act?id=6ae199fe8c5865135482d2e5538c5c31&type=format&

[2017-05-25 13:20] kelslundberg opened #66 "Employee Dashboard"
Working on some sort of widget/channel that launches employees into the Employee Dashboard in SSB.

I've added some content to a channel here to get us started:
https://portal.bethel.edu/employment

But wondering if we want to make it look more prominent since it'll probably be one of the main things employees use in the portal?

It could look similar in style to the homepage widget we'll be doing

[2017-05-25 13:35] kelslundberg commented on #15
We can certainly chat more on Tuesday! I'll add it to the list. This data mostly came from the current Academic Profile that's in Blink along with the addition of staff per our conversations.

![screen shot 2017-05-25 at 8 33 49 am](https://cloud.githubusercontent.com/assets/6525391/26452312/18d2bfa6-4125-11e7-8608-bad426de46b5.png)

[2017-05-30 17:52] johjacb commented on #43
should be updated.

also I think leaving the image url is fine as is, because we actually don't want a big version at any size. so, should be good as it stands

[2017-05-30 19:14] c-schwarze commented on #15
Hey Derek, I am seeing some issues with the data on this. Blink's Academic Profile channel differs from the Portal's profile on my program:

<img width="412" alt="screen shot 2017-05-30 at 2 04 36 pm" src="https://cloud.githubusercontent.com/assets/7849657/26600588/3f181546-4542-11e7-9dd5-88d5bfb23504.png">
<img width="455" alt="screen shot 2017-05-30 at 2 04 30 pm" src="https://cloud.githubuserco

[2017-05-30 19:26] e-jameson commented on #15
Hey @dstavem, it also looks like username emj92698 (a CAS Senior) isn't getting any student data.

[2017-05-30 20:19] e-jameson commented on #15
@johjacb I've added image and name to the profile page.

[2017-05-30 21:21] kelslundberg commented on #15
@johjacb here's the list of data we had decided on pulling into the profile and then going from there as far as arrangement/formatting:
https://docs.google.com/spreadsheets/d/1LQMvAwEcuNbKUIxMoRN8nRvALYRYj3A_HD8BmzKt_4k/edit#gid=652413578

Do want me to put more structure to this? I could add headings to separate employee and student info? I could also add the links we talked about wanting to add

[2017-05-31 13:40] johjacb commented on #15
@kelslundberg probably? kind of a big block of info right now. pretty dense too so breaking it up would make it easier to parse

[2017-05-31 14:38] kelslundberg commented on #15
@johjacb what about something like this for organization? I sent it to Tim to take a peek at my categories...so he might have feedback

https://docs.google.com/spreadsheets/d/1LQMvAwEcuNbKUIxMoRN8nRvALYRYj3A_HD8BmzKt_4k/edit#gid=652413578

I was looking at my lifetime member profile area on my phone and desktop they sections broken up into channels...might work for something like this? They do hav

[2017-05-31 14:41] johjacb commented on #15
looks good

On Wed, May 31, 2017 at 9:38 AM, kelslundberg <notifications@github.com>
wrote:

[2017-05-31 14:54] kelslundberg commented on #15
sweet - @hamtim you think we can move forward with this direction? I'm cool if you're cool - I'm sure we'll be able to move a couple things around/add a link/update wording if needed once we see it in this format.

[2017-05-31 20:27] hamtim commented on #15
I'm cool with this direction @kelslundberg and @johjacb

[2017-06-05 20:39] c-schwarze commented on #64
We are planning on talking with Lisa about how to get the Salesforce URLs next meeting (monday the 12th).

[2017-06-05 20:40] c-schwarze commented on #24
@dstavem, I am switching this to 'high priority'. Do you have an update on this?

[2017-06-05 20:45] c-schwarze opened #67 "Get gmail unread inbox count for user"
We should look into getting gmail unread inbox count for a given user to put on the homepage. Hopefully we can get this done without having every user accept the permission.

[2017-06-05 20:56] c-schwarze opened #68 "Logout Functionality?"
I think we should have this ability.

[2017-06-06 13:26] kelslundberg commented on #66
Updates on this from our meeting yesterday. I'm moving this to high priority cause we're wanting to sit down with HR within the next couple weeks to show them where things are at...

We talked about a group of tiles/widgets next to the event feed for employees that directs people to the resources listed below.

I'm not sure @c-schwarze and @johjacb how you want to set this up - if it should be har

[2017-06-06 13:51] kelslundberg commented on #51
I'm not seeing any roles in the dropdown at the moment.

I did add a role this morning, so I'm wondering if that affected this?

![screen shot 2017-06-06 at 8 50 01 am](https://cloud.githubusercontent.com/assets/6525391/26832467/30fdc3f4-4a95-11e7-9149-b07db05c716c.png)

[2017-06-06 13:54] kelslundberg commented on #64
Also, we talked about using this style:

Name
Photo
Email/Phone
Gruber to write some text for the description below

![screen shot 2017-06-06 at 8 53 33 am](https://cloud.githubusercontent.com/assets/6525391/26832636/b348057c-4a95-11e7-87a7-fbc8ffbc1956.png)

[2017-06-06 13:54] kelslundberg commented on #64
Remove like/love :) :)

[2017-06-07 13:51] c-schwarze commented on #51
Oops. That was a hiccup from me changing the portal cascade roles id. Should be fixed now

[2017-06-07 22:25] c-schwarze commented on #66
Are we wanting icons for any/all of these?

[2017-06-08 13:32] johjacb commented on #66
I think those can be added later, once the layout for this section is done.

On Wed, Jun 7, 2017 at 5:25 PM, Caleb Schwarze <notifications@github.com>
wrote:

[2017-06-08 19:46] kelslundberg opened #73 "Search functionality"
In our last meeting Vedmic talked about wanting a search functionality and having results display like the sample search results page in the theme preview.

[2017-06-08 21:49] c-schwarze commented on #66
I am having @tim-heck work on this. fyi

[2017-06-09 18:34] dstavem commented on #15
@c-schwarze @e-jameson

I think the student data issue is now fixed.  You may need to double check your tags/labels as I changed some of them.  The problem was that I was pulling program 1 and 2, but some program 2 items were still labeled as 1.  Let me know if you have questions.  Thanks!

[2017-06-12 14:47] c-schwarze opened #74 "Clear tab session"
Currently, if we add a new tab, there is no great way to reset the tab session.

[2017-06-12 16:42] c-schwarze opened #75 "Tabs are not ordered correctly"
Currently the new 'test' tab i created is on top of the side nav. We should use the cascade 'order' to determine the tab order.

[2017-06-12 17:31] kelslundberg commented on #50
Too add a bit to this - we confirmed last week having a widget like this in the top section of the home tab.

There was talk of maybe adding the progress bar to it if that was possible so you could see how far along you were.

[2017-06-12 19:25] c-schwarze opened #76 "Event Feeds - create new feeds that have the corresponding categories"
The plan is to build these out in Cascade and then simply link the those from cascade through channels.

[2017-06-12 21:47] josiahtillman commented on #68
Added!

[2017-06-13 13:07] kelslundberg commented on #66
Updates from our meeting yesterday:

Box of 4 on the left:
Mail, Calendar, Drive, Offices

Single box on the right:
Employee Dashboard
View leave reports, time sheets, pay stubs, and other employment info.
Launch Dashboard (button? or maybe the whole thing is a button?)

[2017-06-13 13:09] kelslundberg commented on #64
@d-freed is having a student create a spreadsheet for Lisa with all enrollment/admissions counselors for all schools along with the Cascade ID for their webpage.

I think all we need in the spreadsheet is Counselor Name and Cascade ID

[2017-06-13 13:11] kelslundberg opened #77 "RSS feeds for social media"
@e-jameson to check on how the RSS was created for the ITS Outages to see how we want to create RSS feeds for Bethel Facebook, Instagram, and possibly BSG or other student life feeds.

[2017-06-13 18:57] josiahtillman commented on #68
Button has been added and hooked up

[2017-06-13 18:57] #68 closed

[2017-06-14 15:24] kelslundberg commented on #64
Spreadsheet is complete. I passed it to Lisa and Tim today.

[2017-06-14 20:50] #75 closed

[2017-06-14 22:00] c-schwarze commented on #76
I added a folder in Cascade: /_blink-content/portal-content/event-feeds, which will hold the event feed blocks and the pages that hold them. These pages will need to be published and then included in the corresponding channels

[2017-06-15 13:27] tim-heck commented on #66
![screen shot 2017-06-15 at 8 26 00 am](https://user-images.githubusercontent.com/16583548/27183492-58a9da3a-51a4-11e7-9441-785dcb47fcfb.png)
Here's what I got for the Employee Dashboard, what do you guys think?

[2017-06-15 17:31] josiahtillman commented on #64
![screen shot 2017-06-15 at 10 34 35 am](https://user-images.githubusercontent.com/12627410/27193703-82c0a594-51c5-11e7-91f5-8cfbbe0b6e38.png)
This is where I'm at right now-- I like how the pop of color looks, but in context, the color is a bit strange when every other element is very neutral. The end color will depend on the aesthetic direction that portal goes with.

I think this would look bes

[2017-06-15 18:42] e-jameson commented on #66
This is looking awesome! I wonder if we want to call the right-box something else? "Employee Dashboard" and "Go to Dashboard" are kind of conflicting. Thoughts @kelslundberg @hamtim?

[2017-06-15 19:29] kelslundberg commented on #66
I think I'll have Erik look at it from a content perspective! @hamtim - open to your thoughts as well.

I don't know if we were thinking time balances would go here or in statements and balances. We can certainly adjust anything at this point based on what we think makes good sense.

[2017-06-15 19:38] c-schwarze commented on #74
One option that i found, is to change the secret then restart apache.

Another option is to look into allowing sessions to be valid for a certain length of time: http://flask.pocoo.org/docs/0.12/api/#flask.Flask.permanent_session_lifetime

I think we will need to pursue one of these options, as when a user's role changes, we need their tabs to change and also when names of tabs change.

[2017-06-15 21:16] hamtim commented on #66
The sentence, balances, and button don't seem to flow well from a content standpoint. We can chat about that next week.

[2017-06-16 15:10] kelslundberg commented on #66
Yeah I think too a different color for the dashboard box would be good - to make it different than the other boxes to the left. Erik's looking at content...we can chat on Monday

[2017-06-19 20:47] kelslundberg commented on #22
Sample channel here:
https://portal.bethel.edu/student-academics

@c-schwarze should I open a separate issue for the faculty active courses channel since that has some different info/links associated with the courses?

[2017-06-19 20:49] c-schwarze commented on #22
Yeah that would be great

[2017-06-19 20:54] kelslundberg opened #80 "My Advisor Channel"
We talked about having a channel that pulls in advisor info for students. It could look just like the Enrollment Counselor channel.

I've created a sample channel here with some info:
https://portal.bethel.edu/student-academics

We talked about using the usernames in tinker to pull in info from tinker:

- Name
- Photo
- Email
- Office location (do they have this in Tinker?)

[2017-06-20 16:27] kelslundberg commented on #66
From our convo yesterday, it sounds like we're going to keep the 4 items - adjusting the text just a little bit:

Email
Calendar
Drive
Offices

Then, Erik is providing updated text for the employee dashboard box.

[2017-06-20 21:43] c-schwarze opened #81 "Side nav appears broken when main content is small"
Most pages will not have any issues with this. However, the profile page has limited content. It is possible to create a javascript solution that resizes the background to be the height of the document and set and background-color to be the side nav color.

![screen shot 2017-06-20 at 4 33 10 pm](https://user-images.githubusercontent.com/7849657/27357111-841a114a-55d6-11e7-8f99-6991a8a8a9f5.png)

[2017-06-21 17:07] kelslundberg commented on #76
I think these are working just great! I'm going to leave this opened and assigned to me until I've finished getting these set up.

[2017-06-21 18:50] ErikGruber commented on #66
Hey @c-schwarze, here's some content for the Employee Dashboard widget -

Heading:
Employee Dashboard

Content:
View your Employee Dashboard for important employee information, including:

- Leave Balances
- Leave Reports
- Timesheets
- Pay Stubs
- Tax Information
- Benefits

CTA:
My Employee Dashboard

[2017-06-21 21:14] josiahtillman commented on #64
Here's the new styling for the counselor channel.

![screen shot 2017-06-21 at 4 10 34 pm](https://user-images.githubusercontent.com/12627410/27407045-8b2c1020-569c-11e7-801d-20abe27c6a16.png)

Now that we aren't using circle images, we won't need any cropped images. Let me know if you guys think there should be any other changes!

[2017-06-21 21:17] josiahtillman commented on #15
Here's how the profile page looks! Let me know if you guys think any other changes should be made.

![screen shot 2017-06-21 at 4 15 47 pm](https://user-images.githubusercontent.com/12627410/27407173-ff62cc86-569c-11e7-83d0-862ced6ae678.png)

[2017-06-21 21:50] c-schwarze opened #84 "Broken Javascript"
When moving to a slim version of jquery, we lost some functionality from jquery, like the ajax command. Currently our main.js is not compiling correctly and therefore we have scattered javascript across the portal.

Jake, when you have a chance, can you take a look?

[2017-06-21 21:57] c-schwarze commented on #49
@tim-heck use my 'notifications' branch and hook up the enrollment checklist to this.

[2017-06-21 22:01] c-schwarze commented on #45
Needs some more styling.

Currently the functionality is broken until #84 is fixed

[2017-06-22 14:01] kelslundberg commented on #77
Hey @e-jameson have you had any time to peek at this? I'm just trying to get all the channels set up that I can set up :)

[2017-06-22 17:39] e-jameson commented on #77
@kelslundberg I added the `HTML` Channel type. This is what we'll use for these. So far I've looked into Twitter, and have an example channel on the Home tab. See the URL below for creating feeds. I'll look into FB and Instagram too and see if we can do something similar.

https://publish.twitter.com/#

[2017-06-22 19:32] e-jameson commented on #77
Instagram only supports embedding a specific post out of the box, not a feed. There might be some free libraries or paid services we can use to create a feed.

@kelslundberg how confident are we that we'll use an Instagram feed in the final Portal?

Facebook has an embed configurator here: https://developers.facebook.com/docs/plugins/embedded-posts

The Facebook feed doesn't look super great in my

[2017-06-22 19:32] e-jameson commented on #77
I added a facebook feed to the homepage as well

[2017-06-22 20:02] josiahtillman commented on #80
I made it look just like the counselor channel.
![screen shot 2017-06-22 at 2 59 33 pm](https://user-images.githubusercontent.com/12627410/27453261-726417d0-575b-11e7-9373-d5d5783c8880.png)
I checked and faculty-bios currently do not have office locations.. Could we possibly add this?

[2017-06-22 21:30] c-schwarze commented on #41
This code needs to be rewritten since we reworked the html

[2017-06-23 15:09] c-schwarze commented on #84
I fixed this. Should be merged with master as well.

[2017-06-23 15:09] #84 closed

[2017-06-23 15:09] c-schwarze commented on #45
#84 is fixed, so only styling is needed.

[2017-06-23 20:16] c-schwarze commented on #11
This is broken, since we have updated to the slim version of jquery. Need to try to find an alternative

[2017-06-23 20:18] c-schwarze commented on #51
This works, but it should be styled up.

[2017-06-26 15:14] kelslundberg commented on #77
I personally think we could get by without instagram, but I'll ask today

[2017-06-26 21:01] kelslundberg opened #89 "Faculty course listing"
We need a channel in the portal to show active courses for faculty along with key links for each course.

I created a sample in the portal:
https://portal.bethel.edu/faculty-academics

Channel heading:
Active Courses

Course number - Course name
Course location/Room number
Course links

Links for each course:
Moodle (course page in moodle)
Class List (banner)
Email Class (moodle)
Submit Grades (ba

[2017-06-27 14:03] kelslundberg commented on #66
After our lengthy discussion yesterday, we're moving a different direction with this for a few different reasons.

G-Suite and Offices are moving to tools and resources.

@johjacb has an updated layout for the Employee Dashboard section. You can use the copy Erik provided above. @ErikGruber - Maybe we want to shorten the list of what you'll find in Banner? Something like:

Leave Reports
Timesheets

[2017-06-27 14:06] kelslundberg commented on #15
Thanks for working on breaking this up into sections @josiahtillman! We looked at it during our meeting yesterday and @johjacb is going to work with you a bit on refining it.

Also, we'd like to add email address underneath ID# and then add a placeholder link below it that says "Update password and account"

[2017-06-27 15:08] kelslundberg commented on #64
Thanks so much! I think this is looking good!

I'm checking in with Lisa and Tim Hammer on what we need in sales force...

[2017-06-27 15:14] kelslundberg opened #90 "Can't delete tabs"
I tried deleting the Employment tab in cascade and I'm not able to delete it. It's giving me an error saying "no outputs selected" but I'm not able to select any outputs.

Thanks!!

[2017-06-27 15:27] e-jameson commented on #22
I ran this by Lisa this morning and and getting the courses shouldn't be a problem. I mentioned pulling in course URLs to Moodle and she said that might be more challenging, but probably do-able. Derek's done the most work on pulling Moodle data into Banner so we'll talk with him next week.

[2017-06-27 15:28] e-jameson commented on #89
I ran this by Lisa this morning and and getting the courses shouldn't be a problem. I mentioned pulling in course URLs to Moodle and she said that might be more challenging, but probably do-able. Derek's done the most work on pulling Moodle data into Banner so we'll talk with him next week.

[2017-06-27 15:33] e-jameson commented on #24
I believe we got some data from Derek or Lisa on this. We'll talk with Derek next week about getting the other data points we need for the graph.

[2017-06-27 15:52] kelslundberg commented on #66
We're meeting with HR at 8 a.m. on Thursday, July 6.

We'll need an updated version of this ready for that meeting. It's okay if we don't have the charts working 100% as long as we can explain how they will be generated.

[2017-06-27 15:56] kelslundberg commented on #15
Let's aim to have this finalized before HR meeting on Thursday, July 8.

[2017-06-27 16:28] kelslundberg opened #91 "Tools & Resources"
@vedmic any update on icons for this?

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=1449065714

[2017-06-28 15:06] e-jameson commented on #67
@tim-heck, can you remove this for now? Keep the code around in case we want to enable it again later.

[2017-07-05 14:46] e-jameson commented on #24
I met with Derek and he's going to work on this and get data it to us in the next week or so.

[2017-07-05 14:46] e-jameson commented on #22
I met with Derek and he's going to work on this and get data it to us in the next week or so.

[2017-07-05 14:46] e-jameson commented on #89
I met with Derek and he's going to work on this and get data it to us in the next week or so.

[2017-07-05 19:27] josiahtillman opened #92 "Facebook Channel not Responsive"
The Facebook channel gets its size set when the page loads, but then doesn't change when the window is resized. This is an issue on Facebook's end that we cannot fix through our css or javascript. Our only option would be to reload it whenever the window size changes.

Example:
![screen shot 2017-07-05 at 2 26 54 pm](https://user-images.githubusercontent.com/12627410/27881391-116f892c-618e-11e7-8e

[2017-07-05 20:19] johjacb commented on #15
I've made an update

[2017-07-06 15:19] e-jameson commented on #90
@kelslundberg can you show me what happens when you try and delete a tab today after our meeting?

[2017-07-06 15:25] e-jameson commented on #67
marking as done

[2017-07-06 15:25] #67 closed

[2017-07-06 16:19] josiahtillman commented on #15
Sorry the email hasn't been added yet. For some reason, it isn't being pulled for the user data. I'll keep working on it and get back to you guys later.

[2017-07-06 19:54] johjacb commented on #92
@c-schwarze assigning to you, to decide who to assign it to

[2017-07-06 19:56] johjacb commented on #15
i've added the email address and an 'edit info' button

[2017-07-06 20:25] kelslundberg commented on #15
Super! Thanks, @johjacb

I think the button can link here: https://iam.bethel.edu/

[2017-07-06 20:55] kelslundberg commented on #77
@c-schwarze is going to have students look options for this

[2017-07-06 21:13] kelslundberg opened #93 "CAS Student Dashboard"
We decided on a set of premier icons and a Today's Event feed with categories that are CAS-student specific.

@vedmic is working on getting icons - icons needed and links are on the grid:
https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=1857012922

@hamtim is going to check the calendar categories for me (also on the grid):
https://docs.google.com/spread

[2017-07-06 21:18] kelslundberg commented on #66
@c-schwarze - can we update the events area so it's employee holidays from the calendar

The heading can also change to Upcoming Holidays

[2017-07-06 21:26] kelslundberg commented on #91
A couple things here:

We decided to remove bullet points.

Some icons aren't showing. Most of them should be referencing fa icons and a few are pulling in images directly from Cascade. Let me know if there's anything you need me to do here or change!

[2017-07-10 16:04] johjacb commented on #91
I think we should remove the icons on the sidenav. Check out the readability of the two lists. the icons seem to add more visual noise that outweighs any benefit that they provide

 I also think we should consider alphabetizing the list

![screen shot 2017-07-10 at 11 00 56 am](https://user-images.githubusercontent.com/2394337/28027609-40b718ce-655f-11e7-9be9-c86a0f4029f4.png)
![screen shot 2017-0

[2017-07-10 17:33] kelslundberg commented on #91
I'm fine with this - added it to the agenda for today.

[2017-07-10 18:28] kelslundberg commented on #43
HR is really liking this and thinks it will be way easier for them!

Just a couple things from our meeting:

Is this set to pull a certain number? Michelle wants to be able to have it display however many she wants and she can manually deactivate when they should come doe.

Change the name to Fresh Starts and Sendoffs

Add drop down selection with these options so all they needs to do is select an

[2017-07-10 19:03] josiahtillman opened #94 "Testing Tab/Page"
We want to get rid of the Testing tab in Portal so that we can move closer to what the real thing might look like. However, the developers do still need a place to test out new channels. We could probably add this to be one of the links in the after clicking "Admin" under "Tools & Resources." The tab/page would then be out of the way, but still accessible for the developers.

[2017-07-10 20:28] josiahtillman commented on #43
Right now it is just pulling the most recent 5, or at least it is supposed to. We could add a field on cascade that would allow you to choose which ones to display. Other than that, I don't think there is a way for us to deactivate them from portal. It has to be done on cascade's side.

I'll start making those other changes.

[2017-07-11 14:27] e-jameson commented on #43
A couple thoughts. @c-schwarze what do you think about these ideas?

- we could turn it into a block chooser, and she can choose which ones to include or not include and can determine the order as well.

- We could pull the latest 10, but add an `activated`/`deactivated` radio button to each one and skip if its deactivated.

The first option would make our code easier, but its a little less magic

[2017-07-11 14:40] c-schwarze commented on #43
I think if she wants to fully control these, we should set it up so that the new faces and places shows all people who are activated and have her fully control it. We then need to add the Fresh Starts and Sendoffs dropdown to each one.

[2017-07-11 15:09] kelslundberg opened #95 "CAS Applicant Dashboard"
Got the CAS applicant dashboard mapped out here. Please let me know if you have any questions for me!

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=412174702
![screen shot 2017-07-11 at 10 08 28 am](https://user-images.githubusercontent.com/6525391/28075379-e87b153a-6620-11e7-82dc-2173c083cd38.png)

[2017-07-11 15:10] kelslundberg opened #96 "CAPS Applicant Dashboard"
Got the CAPS applicant dashboard mapped out here. Let me know if you have any questions for me!

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=412174702
![screen shot 2017-07-11 at 10 09 31 am](https://user-images.githubusercontent.com/6525391/28075447-238870d2-6621-11e7-9e5c-2055b7bad384.png)

[2017-07-11 15:11] kelslundberg opened #97 "GS Applicant Dashboard"
Got the GS applicant dashboard mapped out here.

Forgot to mention, Erik is still working on messaging for welcome message and enrollment status stuff. Hope that is okay!

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=412174702
![screen shot 2017-07-11 at 10 10 52 am](https://user-images.githubusercontent.com/6525391/28075519-5592ba56-6621-11e7-84c8-3

[2017-07-11 15:13] kelslundberg opened #98 "SEM Applicant Dashboard"
Got the seminary applicant dashboard outlined here. Erik is still working on exact messaging.

Let me know if you have questions for me!

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=412174702
![screen shot 2017-07-11 at 10 12 11 am](https://user-images.githubusercontent.com/6525391/28075593-8b86eaf6-6621-11e7-9cbf-4010f362a2e6.png)

[2017-07-11 20:02] ErikGruber commented on #98
Hi @c-schwarze, here's a link to content you can get started with. It might be a bit long, but I figured we can see what it looks like and go from there - https://docs.google.com/document/d/1ryyTeI4FKNJidOHcfY_IYUxJ73An7EUDPZ16pYOShSM/edit

[2017-07-11 20:03] ErikGruber commented on #97
Hey @c-schwarze here's a link to content you can get started with. It might be a bit long, but I figured we can see what it looks like and go from there - https://docs.google.com/document/d/1yWyi2CJIbsqznH3M07LwW2bZCofCo5g-UakB64m12zY/edit

[2017-07-11 20:03] ErikGruber commented on #96
@c-schwarze here's a link to content you can get started with. It might be a bit long, but I figured we can see what it looks like and go from there - https://docs.google.com/document/d/1U9dqbw1imfxFU43vfGuWBhpRi99MPAuzmkBWtc1U8t4/edit

[2017-07-11 20:04] ErikGruber commented on #95
Hi @c-schwarze - here's content to start with. It might be long, but we can cut once we see what it looks like. https://docs.google.com/document/d/1hWRCYZw7E9ymVzTozpnrF-PqMLhJbG7mrRF7u8tCuf8/edit

[2017-07-13 13:57] kelslundberg commented on #89
@e-jameson Have we heard any updates on this from Derek?

[2017-07-13 13:59] kelslundberg commented on #80
Thanks for working on this! @josiahtillman @c-schwarze is this pulling the real advisor for users or is this just dummy data for now and we still need to get that piece done?

[2017-07-13 14:06] kelslundberg commented on #76
@c-schwarze created a new portal event feed - so I'm working on getting these set up

[2017-07-13 14:15] kelslundberg commented on #92
Closing and combining it with issue #77

[2017-07-13 14:15] #92 closed

[2017-07-13 14:25] kelslundberg commented on #50
Changing this to just "Checklist" since we're working out the dashboards in separate issues

[2017-07-13 14:28] josiahtillman commented on #80
@kelslundberg It's just getting dummy data for now, same as the counselor channel

[2017-07-13 14:30] kelslundberg commented on #43
@c-schwarze sure! so if I'm getting this right, she could activate or deactivate any block and then it would display all active blocks?

[2017-07-13 14:37] kelslundberg commented on #22
@e-jameson - checking in to see if we have any updates here - I'd love to be able to meet with Registrar last week of July if possible

[2017-07-13 14:41] c-schwarze commented on #43
Yep! It should update each night when we publish it, otherwise she could publish the page. There is a chance we could autopublish the page with a workflow whenever a new face/new place gets updated

Also, are we changing the name of this to fresh start and send offs? If so, we should commit now, so it matches up later

[2017-07-13 15:18] kelslundberg commented on #80
@josiahtillman thanks for the update! @c-schwarze what would be the next step in getting this to pull advisor info - connecting the student to the advisor....

[2017-07-13 15:23] c-schwarze commented on #80
I believe we were going to get a name or url from salesforce.

@e-jameson have you heard from lisa's team about the timeline or progress of this?

[2017-07-13 15:27] kelslundberg commented on #80
@c-schwarze I think that might be for the counselors - this is academic advisors, so is that Banner?

[2017-07-13 16:49] kelslundberg commented on #98
Event feed is here:
https://cms.bethel.edu/entity/open.act?id=3cd75ded8c586513260ac2971c33a61b&type=page&

[2017-07-13 16:50] kelslundberg commented on #97
Event feed is here:
https://cms.bethel.edu/entity/open.act?id=3cd4f19b8c586513260ac297540fec4a&type=page&

[2017-07-13 16:51] dstavem commented on #24
I passed along some data for leave balances to Eric yesterday.  They are here:
bth_portal_channel_api.leave_balances.

I just finished statement and account balance here:
bth_portal_channel_api.account_statement

Included in this is the statement number (tagged "stmt_number"), which can be used to recreate the URL for linking to the statement.  One thing to note is that the current balance may dif

[2017-07-13 16:51] kelslundberg commented on #93
Event feed is here:
https://cms.bethel.edu/entity/open.act?id=3c3a43c28c586513260ac29776e34f27&type=page&

[2017-07-13 16:52] kelslundberg commented on #96
Event feed is here:
https://cms.bethel.edu/entity/open.act?id=3cd08d308c586513260ac29777d44a04&type=page&

[2017-07-13 16:52] kelslundberg commented on #95
Event feed is here:
https://cms.bethel.edu/entity/open.act?id=3c3647ac8c586513260ac29786fad731&type=page&

[2017-07-13 18:15] dstavem commented on #22
@kelslundberg  @e-jameson  I'm just working on this now - hope to have something by tomorrow. D

[2017-07-13 18:22] dstavem commented on #22
Can you clarify what you mean by "active courses"?  For example, should this include all courses for a particular term, even though some might start in a later block in that term (relevant for CAPS/GS in particular)?  Similarly, near the end of a term, when should it include courses for the upcoming term?  I think CAPS/GS currently expects that courses be made available in Moodle 2 weeks ahead of

[2017-07-13 19:22] e-jameson commented on #22
I talked to Derek and we are going to add courses to the list 2 weeks before they start, and keep courses in the list 2 weeks after they end. For all schools.

[2017-07-13 19:22] e-jameson commented on #89
Yup he's working on it right now. We should have data to put in relatively soon.

[2017-07-13 19:44] e-jameson commented on #24
@c-schwarze is looking at this today. Let us know how the data looks

[2017-07-13 19:49] kelslundberg commented on #22
I think that sounds like an excellent plan - thanks for chatting on this!

[2017-07-13 19:49] dstavem commented on #22
See bth_portal_channel_api.class_list_stu for this info.  For now, I have more info included than you requested in case you find you need some of it.  I can remove some of this once you feel confident you have what you need.  To create the link to Moodle, use the field tagged "mdl_crse_id."

Let me know if you have questions as you start looking through this.  Thanks!

Derek

[2017-07-13 19:50] kelslundberg commented on #22
Thanks, Derek!!!!!!

[2017-07-13 19:52] dstavem commented on #22
Do you have students that you are testing with who are currently enrolled?  If not, here are some netid's of some students that I was using in testing: amh56249, jak78447, jau33459, dab48593.

[2017-07-13 21:05] dstavem commented on #89
See bth_portal_channel_api.class_list_fac.

This should get you most of what you need (and some of what you don't need).  Like the student version, I've included some extra columns for now until you're sure you have what you need, and then I can remove some of the extra ones.  For the Moodle link and the email class link, I think you can use the value in "mdl_crse_id" to create a URL (for example,

[2017-07-13 21:08] dstavem commented on #89
Note that for "location" tag (building and room), there are many courses that will be blank (e.g. internship, etc.), and there are others that will say "WEB" because they are web-only courses.  For those that are both web and in a building alternating (e.g. a hybrid course format), I took the first room that I found, even if it might be the second or third week that it meets there if the first mee

[2017-07-17 15:54] c-schwarze commented on #90
Is this still having issues?

[2017-07-17 15:55] c-schwarze commented on #89
Thanks Derek! This is live on portal in the Faculty Academics tab

[2017-07-17 15:56] c-schwarze commented on #77
@josiahtillman is looking into combing both the facebook and twitter feeds into a single feed.

[2017-07-17 15:59] c-schwarze commented on #49
This is put on hold, as we might not end up using this.

[2017-07-17 17:21] c-schwarze commented on #94
What if we added a new 'DEVELOPER' role to the tab, and then we can just have a list in the config of usernames who should get the 'DEVELOPER' role in the user_roles portion of the session.

Thoughts? @josiahtillman @phg49389 @e-jameson

[2017-07-17 20:57] johjacb commented on #45
looks like there may be some significant JS challenges to getting this working, especially if the content resizes on refresh, which could trigger a layout reflow.

can we get by with it?

[2017-07-17 21:02] c-schwarze commented on #45
Bummer. I'll add it as a topic of next weeks portal meeting.

[2017-07-20 13:48] kelslundberg commented on #90
yeah I just tried to delete Employment tab

[2017-07-20 13:51] kelslundberg commented on #51
Can we add a link to return back to Admin when viewing other roles/accounts? I figure it'll make testing a little quicker?

[2017-07-20 15:04] c-schwarze commented on #51
Great suggestion. Absolutely.

[2017-07-20 20:01] c-schwarze commented on #90
@josiahtillman when you have a chance, can you look at this?

[2017-07-24 15:01] kelslundberg commented on #22
@c-schwarze is this one set up? I see links added for the Faculty Course List channel, but not the student one:

https://portal.bethel.edu/deep_link_channel/c0af22cb8c586513543f13a693f6a8b9/student%20academics

[2017-07-24 19:56] e-jameson commented on #22
We have the data just need to build this out out quick. @c-schwarze can you do this if you have time early this week?

[2017-07-24 21:08] kelslundberg commented on #24
We finally spent some time looking at this channel - just a few updates along with some links we need to add.

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=1857012922

I've included roles for each section of the channel. Then, there are a few links we need to add to the Bethel Account section. Is it possible to have these links be targeted by role li

[2017-07-24 21:13] kelslundberg commented on #24
Also...the TouchNet links I've pulled from blink have "blink" in the url...not sure the best way to get the actual link for these areas in TouchNet?

[2017-07-25 19:28] #81 closed

[2017-07-25 19:29] c-schwarze commented on #22
This is merged into master. It is currently pulling from the user: "amh56249". We will need to swing back to this and fix the username to be the user's current user.

[2017-07-26 16:12] kelslundberg commented on #22
Thanks! Were we able to get moodle links for courses? Or doe these courses not have moodle sites?

[2017-07-26 16:19] e-jameson commented on #22
Hey @dstavem would it be possible to add the `mdl_crse_id` column to the `bth_portal_channel_api.class_list_stu` procedure?

[2017-07-26 16:21] dstavem commented on #22
It should already be there - let me know if you're not seeing it.

[2017-07-26 16:22] e-jameson commented on #22
Yup I'm just blind or something. Sorry about that.

[2017-07-26 16:30] kelslundberg opened #105 "Messages for broken channels"
Hiya! We have some messages for broken channels/portal features. Whenever it's convenient - I'm just putting it in here so we don't forget.

When someone doesn't have banner data - e.g. timesheet data:

We’re sorry, it looks like you don’t have any information to load for this channel.

When a channel is broken or not loading properly:

We’re sorry, the information didn’t load correctly. Please co

[2017-07-26 16:32] kelslundberg commented on #80
what do we need next to keep this moving?

[2017-07-26 16:35] kelslundberg opened #106 "Alumni dashboard"
Mapped out what we need to display in the dashboard for alumni roles. This can happen after all other dashboards are complete.

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=1476040322

![screen shot 2017-07-26 at 11 33 44 am](https://user-images.githubusercontent.com/6525391/28632481-5118a108-71f6-11e7-955d-d7b5d62943e9.png)

[2017-07-26 20:02] e-jameson commented on #22
I added course links to the class list. I linked the course title. Little cleaner, imo, since we don't have a full list of links at the bottom like the faculty channel

[2017-07-26 20:21] e-jameson commented on #25
I think we have all we need for this. Marking as done

[2017-07-26 20:21] #25 closed

[2017-07-26 20:22] #73 closed

[2017-07-26 20:25] e-jameson commented on #74
Do we have any idea how expensive it is to re-build someones session? If we expired it more often how much of a hit are we looking at? Overall that seems better to me for most cases. Changing secret key seems good if we know for sure something like a Tab named changed and we want to force everyones session to reload.

[2017-07-28 16:15] kelslundberg commented on #43
Sorry for my delay! Sounds good on the updating. I just heard back from HR now that they see what "Fresh Starts" looks like in the channel. They've decided on:

Channel name:
Employee Updates

Options:
- New Employee
- New Role
- Send-Off

[2017-07-28 16:21] c-schwarze commented on #15
The change academic info button should be changed to only display to CAS students.

@tim-heck could you add this when you have a chance?

[2017-07-31 17:22] johjacb commented on #93
i pushed out a design for this. icons are still under construction

[2017-07-31 17:28] johjacb commented on #45
closing for now. reopen if necessary

[2017-07-31 17:28] #45 closed

[2017-07-31 17:29] johjacb commented on #91
i've pushed out a basic version. calls out the google suite, as well as moodle, banner and offices

[2017-07-31 17:32] johjacb commented on #14
any plans for this?

[2017-07-31 17:32] #30 closed

[2017-07-31 17:37] johjacb commented on #62
assuming the portal is going to have its own Profile?

[2017-07-31 18:23] e-jameson commented on #14
Yeah, not much of a point until cacheing is back on though.

[2017-07-31 18:52] kelslundberg commented on #15
Change academic info button can go here:
https://www.bethel.edu/registrar/forms/change-of-major-minor

[2017-07-31 20:55] johjacb opened #111 "Tie dashboard tabs to user"
Dashboards are currently hard coded and need to be changed to load programmatically

[2017-07-31 21:31] kelslundberg commented on #15
Also, can we change the text on the Edit info button underneath the email address to say "Update email account"

[2017-08-01 14:27] johjacb commented on #62
added profile for my.bethel.edu. added tracking code to <head>

[2017-08-01 14:27] #62 closed

[2017-08-01 14:29] johjacb commented on #91
closing for now. reopen if more work needs to be done

[2017-08-01 14:29] #91 closed

[2017-08-01 16:28] tim-heck commented on #15
I've changed the 'change academic info' button to only be viewed by CAS students, added the link to that button, and changed the text of the 'Edit info' button to be 'Update email account'

[2017-08-01 17:37] tim-heck commented on #43
I've made these changes to the channel in cascade, should read 'Employee Updates' with those three options for labeling the employees.

[2017-08-02 15:41] c-schwarze commented on #80
Hi Derek.

Eric sent me the spreadsheet of what you have so far for this. We think that we can get by with just the username being returned to us. We are going to use that to reference the advisor pages in cascade.

How soon could you get this done?

[2017-08-02 16:55] dstavem commented on #80
I've created a process here:

bth_portal_channel_api.stu_advr

It pulls up advisors for students based on the current term.  Some students will have more than one advisor so use "advr_primary" = "Y" to filter to the primary advisor.  Let me know if you have questions.  Thanks!

Derek

[2017-08-02 17:20] kelslundberg commented on #43
Thanks @tim-heck - looks great!

Hey, @d-freed - this is an area of the portal that Michelle in HR will be updating. It's the replacement for New Faces/New Places. Each employee is a block. She can create new blocks and activate the ones she wants to display in MyBethel.

Do you want to take a look at how it's set up in Cascade and figure out where you want this to live and if you want any kind of

[2017-08-02 17:42] johjacb commented on #41
not going to implement this feature

[2017-08-02 17:42] #41 closed

[2017-08-02 18:16] kelslundberg commented on #89
We're waiting on Class Lists and Submit Grades....moving to In Process

[2017-08-02 18:16] kelslundberg commented on #22
Registrar is reviewing - meeting with them on Tuesday after the portal meeting

[2017-08-03 19:50] johjacb commented on #77
instagram is more popular than twitter. it should be included

http://www.smartinsights.com/social-media-marketing/social-media-strategy/new-global-social-media-research/

[2017-08-04 17:51] c-schwarze commented on #80
Thanks Derek!

This looks great and appears to connect as we need it to.

[2017-08-04 17:58] c-schwarze commented on #66
This was updated a long time ago, but I figured I should comment.

The employee holidays events are hooked up and its renamed to Upcoming Holidays.

[2017-08-04 18:13] c-schwarze commented on #76
I believe these are set up.

Closing. Let me know if this needs to be reopened

[2017-08-04 20:55] c-schwarze commented on #29
Where is this at?

[2017-08-04 20:56] c-schwarze commented on #64
Where are we at with this?

[2017-08-05 12:16] kelslundberg commented on #29
I remember from talking with J-Mo it sounded from a tech perspective that pulling the Aid Award into a channel was going to be challenging or not desirable. So I don't think we're able to do this.

We're still working on trying to merge Financial Aid Requirements channel with the checklist. We just finished working with them on categorizing all Aid Requirements:

https://docs.google.com/spreadshee

[2017-08-05 12:33] kelslundberg commented on #77
Mike had asked for Instagram as well...I think it was decided to start with Facebook and Twitter for some development reasons? I could be wrong...

[2017-08-05 12:40] kelslundberg commented on #80
@d-freed can you test this with some CAS student usernames?

Were you able to get access to portal.bethel.edu/admin?

[2017-08-05 12:43] kelslundberg commented on #66
I think this is ready for testing. @d-freed can you test with some employee usernames?

[2017-08-05 12:53] kelslundberg commented on #76
Thanks @c-schwarze - do I have this set up correct or do I need to do something else....

https://cms.bethel.edu/entity/open.act?id=cb8e4f148c586513260ac2972212a3e2&type=block&
https://portal.bethel.edu/deep_link_channel/cb8e4f148c586513260ac2972212a3e2/home

Sorry if I missed how to do this :)

[2017-08-07 13:21] johjacb commented on #66
this isn't quite ready yet, the charts are still having some JS work done

[2017-08-07 15:18] josiahtillman commented on #77
I'm currently working on bringing facebook and twitter together into one feed as they mostly have the same information.
It looks like Bethel's instagram has a few more posts than the facebook and twitter, but there are still posts that are the same on all three. We were trying to combine facebook and twitter so that there wouldn't be multiple copies of the same information, but we would run into t

[2017-08-07 16:00] c-schwarze commented on #76
@kelslundberg so we are going to leverage the current Blink event channel. Down the road, we can use the ones that are being used on the dashboards.

I changed the path to the current Blink path as well.

[2017-08-07 18:57] c-schwarze opened #117 "Remove JQuery"
Jake would like us to remove jquery to help reduce load times for the portal

[2017-08-07 19:17] d-freed commented on #80
@kelslundberg I just tested the view for my student worker Kathryn, and under My Advisor it says: We are sorry, this channel is not setup properly. Please call the Help Desk.  Same thing with Emily's account.

[2017-08-07 20:52] johjacb commented on #77
maybe we don't have social media feeds?

[2017-08-07 21:44] c-schwarze commented on #80
@d-freed Sorry about that. It should be working now. I wasn't ready for it to be fully tested yet, but its good now :)

[2017-08-08 15:19] d-freed commented on #80
@kelslundberg I tested again and it looks to be working. However, the "Need Help" section shows up directly over the pictured professors face until I made my window bigger, then it moves to the side.
![screen shot 2017-08-08 at 10 17 22 am](https://user-images.githubusercontent.com/21339333/29079506-fa76aab6-7c22-11e7-87c6-dbb67bf328d5.png)
![screen shot 2017-08-08 at 10 13 36 am](https://user-ima

[2017-08-08 15:23] c-schwarze commented on #80
@johjacb I think the images are being lazy loaded, which causes masonry not to know the correct size. Thoughts?

[2017-08-08 15:32] josiahtillman commented on #77
I made a very quick mockup of what the feed might look like. We can use this to decide whether we need/want it anymore.

![portalmock1](https://user-images.githubusercontent.com/12627410/29080097-85fb8f2e-7c24-11e7-8675-d8d4c792dd14.png)

[2017-08-08 15:37] tim-heck commented on #105
I've added both of these messages into a method that will be called if an error occurs on any channel. The string that is passed along when the method is called determines the message that is displayed.

[2017-08-08 15:38] johjacb commented on #80
we can either not lazyload the img, or create a div placeholder around the image that is the height of the img that will be filled in.

[2017-08-08 15:41] c-schwarze commented on #80
Will the height be the same on all views? Mobile/desktop/etc.

[2017-08-08 15:58] tim-heck commented on #111
I think I got these working correctly. Also changed the applicant templates to be more like what the final versions will look like.

[2017-08-08 20:10] c-schwarze opened #123 "Tools and Resources Icon Update"
We would like to have the list live in Cascade. I believe we have already built these out as icons or something like that.

[2017-08-08 21:17] kelslundberg commented on #22
Ready for testing!

[2017-08-08 21:38] kelslundberg commented on #77
It sounds like we're going forward with adding Instagram to the feed and we're going to test out what it's like to have either the first xxxx characters the same across social posts or if we can set up the logic so it would recognize some kind of character match....

[2017-08-08 21:53] kelslundberg opened #125 "Prayer Request/Memorial Notice"
This wasn't part of the original specs, but sounds like they need to add a channel for Prayer Requests/Memorial Notices.

Michael said he's already talked about this and it's already being built in Cascade? If so, just wanted to open an issue for it.

[2017-08-09 14:40] kelslundberg commented on #96
Looking real good!

It looks like we still need to link up the Maps and Visit buttons - all dashboard links are here:

https://docs.google.com/spreadsheets/d/1vbzNXjBz2dVc8ZdH61bNolWzgZfW2GzEzoR9a92w06M/edit#gid=107701472

OR here are the links for these specific buttons:

VISIT: https://www.bethel.edu/adult-undergrad/admissions/visit/
MAPS: https://www.bethel.edu/about/maps-directions/
CONFIRM YO

[2017-08-09 14:43] kelslundberg commented on #97
Looks good!

Need to add links here too:

VISIT: https://www.bethel.edu/graduate/admissions/visit/
MAPS: https://www.bethel.edu/about/maps-directions/
CONFIRM YOUR ENROLLMENT: https://www.bethel.edu/graduate/admissions/enroll

[2017-08-09 14:46] kelslundberg commented on #98
Looking good!

We still need to link up the buttons:

VISIT: https://www.bethel.edu/seminary/admissions/visit/
MAPS: https://www.bethel.edu/about/maps-directions/
CONFIRM YOUR ENROLLMENT: https://www.bethel.edu/seminary/admissions/enroll

[2017-08-09 15:04] kelslundberg commented on #93
Looks like we still need to add the links here:

Academics - link to Student Academics tab
Athletics - https://athletics.bethel.edu/
BSG - https://www.bethel.edu/undergrad/bsg/
Clarion - https://bethelclarion.com/
Arts - https://www.bethel.edu/events/arts/
Today's menu - https://www.bethel.edu/dining-services/locations/monson/menu-file/weekly-menu.html

[2017-08-09 15:08] kelslundberg commented on #95
Looks like we still need links for the buttons:

VISIT: https://www.bethel.edu/undergrad/admissions/visit/
MAPS: https://www.bethel.edu/about/maps-directions/
PAY YOUR ENROLLMENT DEPOSIT: https://www.bethel.edu/undergrad/admissions/enroll/deposit
VIEW MY ENROLLMENT CHECKLIST: Link to Checklist tab

[2017-08-09 15:31] kelslundberg commented on #29
Sounds like this isn't likely going to be able to work as we were hoping given the checklist requirements and the timing.

Mike is going talking with Tim first, but I will document what we talked about here - it sounds like we'll need to recreate the Financial Aid Requirements channel, which is pulling from Banner:
![student-services-fin-aid-channels-2](https://user-images.githubusercontent.com/65

[2017-08-09 15:52] bak45247 commented on #98
done

[2017-08-09 15:52] #98 closed

[2017-08-09 16:01] bak45247 commented on #97
got it

[2017-08-09 16:08] bak45247 commented on #96
done

[2017-08-09 16:10] #96 closed

[2017-08-09 16:11] #97 closed

[2017-08-09 17:31] bak45247 commented on #93
done

[2017-08-09 17:31] #93 closed

[2017-08-09 17:39] bak45247 commented on #95
DONE

[2017-08-09 17:39] #95 closed

[2017-08-09 21:20] kelslundberg commented on #29
Mike said we have the go ahead to do this...so let's investigate what we need to do...

[2017-08-10 14:36] josiahtillman commented on #90
So it looks like @kelslundberg figured this one out-- if you uncheck "unpublish content" you can submit the deletion. Then, if the portal xml is republished, the tabs will be removed.

[2017-08-10 14:36] #90 closed

[2017-08-10 14:59] johjacb commented on #111
thanks Tim. On the live site, I'm seeing extra dashboards under my account, such as 'CAPS applicant' and 'GS student'. Maybe I have extra roles applied?

Can we do some checking around to make sure this is functioning correctly?

[2017-08-10 15:48] tim-heck commented on #111
So Josiah and I just dug into this and we believe that the live site is pulling roles from the live config.py rather than the actual user's roles.

[2017-08-10 15:55] johjacb commented on #111
can you modify that?

[2017-08-10 16:01] tim-heck commented on #111
I personally cannot since I don't have permissions at the moment, but I'll talk to Josiah.

[2017-08-10 20:36] johjacb commented on #15
work completed. closing issue

[2017-08-10 20:36] #15 closed

[2017-08-10 21:57] josiahtillman opened #133 "Roles are still being pulled from those listed in the config"
Where should we be pulling this from? Is this something we can pull from wsapi?

(This code should go in place of the todo on line 174 of app/views/__init__.py)

[2017-08-11 13:27] johjacb commented on #133
#111

is still open - lets continue the discussion there

[2017-08-11 13:27] #133 closed

[2017-08-11 19:18] tim-heck commented on #51
I finished styling some of this and added the link to return to the admin page when testing, should be on the live site.

[2017-08-11 19:58] tim-heck commented on #123
I believe this is finished, check with me when you're back.

[2017-08-14 14:31] johjacb commented on #111
from Phil on slack : tim and I just changed the portal code so now the live page is pulling your roles from WSAPI instead of the local config. If you need to use testing roles again, just go to config.py and change DEVELOPMENT to True

[2017-08-14 14:31] #111 closed

[2017-08-14 21:20] c-schwarze commented on #64
We now have the counselor URLs in salesforce.

@dstavem Could you get the salesforce URLs for a user and put that into a procedure that we can use? Let me know if you need more information.

[2017-08-15 17:54] c-schwarze commented on #123
This is merged into master.

[2017-08-15 17:54] #123 closed

[2017-08-15 19:18] c-schwarze commented on #51
Closing

[2017-08-15 19:18] #51 closed

[2017-08-15 21:04] c-schwarze commented on #105
We should come back to this before we launch the portal to make sure we have our error messages covered.

[2017-08-15 22:33] c-schwarze commented on #74
#138 is the PR associated with this. All session are invalid if they were set more than 12 hours ago.

[2017-08-15 22:37] c-schwarze commented on #76
Closing

[2017-08-15 22:37] #76 closed

[2017-08-16 14:08] c-schwarze commented on #36
Need to add back in cacheing

[2017-08-16 14:33] c-schwarze commented on #89
@e-jameson How are we intending to get Class Lists and Submit Grades?

[2017-08-16 14:37] e-jameson commented on #89
We had an email thread about class lists last week, and @dstavem was going to look into an Argos report that we could call to generate a PDF with the class list, by passing in the ID Number of the course, or something along those lines.

Submit Grades is in Banner, need to figure out how the URL and how to generate it based on course data..

[2017-08-16 14:40] e-jameson commented on #29
@dstavem can we take a look at this and talk about how we can get this data pulled?

[2017-08-16 15:16] e-jameson commented on #29
Here's a few more screenshots of @c-schwarze's various Fin Aid Checklists through the years.

![screen_shot_2017-08-16_at_10 13 07_am](https://user-images.githubusercontent.com/6525585/29370702-d5237772-826b-11e7-83fd-792a61948690.png)

![screen_shot_2017-08-16_at_10 12 52_am](https://user-images.githubusercontent.com/6525585/29370707-d8611c32-826b-11e7-877e-e41e3ebe389e.png)

![screen_shot_2017-0

[2017-08-16 15:38] e-jameson opened #139 "CMS Organization"
@d-freed is looking into a recommendation on how to organize the Portal content in Cascade. Once we have a plan in place we'll need to move content around and refactor anything related.

[2017-08-16 18:48] dstavem commented on #64
I have created a procedure here that returns admissions counselor URL:

bth_portal_channel_api.stu_admissions

If you end up needing additional admissions information in the future, it would likely go in this procedure also.

Also, correct me if I am wrong, but my understanding is that you will only be displaying this for students who are in the admissions process, and once they become students th

[2017-08-16 21:13] d-freed commented on #22
My first test with Emily Johnson turned up weird. Her Active Courses channel showed two classes, but she is registered for 4. And neither of the classes are correct. Is this channel still using dummy data?

[2017-08-16 21:15] josiahtillman commented on #77
Just threw in the first draft of the social media feed. If you go to “/admin/get/test” on portal, you can see what it looks like. Currently, it’s only pulling facebook and I haven’t put hardly any work into the design, but the functionality should be there.

![screen shot 2017-08-16 at 4 15 50 pm](https://user-images.githubusercontent.com/12627410/29385667-27186baa-829e-11e7-92e6-ab24bf67eae2.png)

[2017-08-17 15:45] dstavem commented on #29
I have created the following procedures:

bth_portal_channel_api.fa_reqs_yr
bth_portal_channel_api.fa_reqs

Notes:
**bth_portal_channel_api.fa_reqs_yr**
This procedure can be used to create a drop-down for aid years, specific to the student.  It requires the user ID.  So when I choose myself, I see years from 0708 to 1516, with a gap in 1112 because I did not apply for financial aid that year.  Th

[2017-08-17 18:12] c-schwarze opened #142 "Portal.bethel.edu is slow"
We think it is due to the session clearing too often.

[2017-08-17 18:54] d-freed commented on #139
@e-jameson I've restructured a little bit, making a _portal folder and putting most things I thought necessary in it. What else should I do?

[2017-08-17 19:00] d-freed commented on #22
@kelslundberg another test with Kathryn Magnuson was successful, it showed the correct classes in the channel.

[2017-08-17 21:08] c-schwarze opened #144 "Add permissions to the WSAPI routes"
We will need to make sure we have the permissions that we want on the WSAPI routes.

[2017-08-18 14:08] e-jameson opened #145 "Update URL for deep-linking."
Currently is something like

https://portal.bethel.edu/deep_link_channel/8b8c47358c586513192b27385025bddb/home

Let's make it /channel/<id>/<tab>

or (maybe preferably) <tab>/<channel>/<id>

[2017-08-18 15:33] johjacb commented on #117
removed

[2017-08-18 15:33] #117 closed

[2017-08-18 15:53] e-jameson commented on #80
This is ready for testing

[2017-08-18 20:30] e-jameson commented on #22
The `Student Detail Schedule` and `Week at a Glance` URL's in this channel do not go through Banner's SSO. @c-schwarze or @dstavem do you know if this is something that will be fixed once Banner 9 goes live, or should we wrap the URLs in the Banner SSO Manager?

[2017-08-18 20:32] e-jameson opened #147 "Student View is single-column"
I've been doing some testing with Emily's profile, and her Home and Student Academic tabs are single column. I had her confirm they are one column on the live site as well.

[2017-08-18 20:32] e-jameson commented on #147
![image](https://user-images.githubusercontent.com/6525585/29476626-7f2771be-842a-11e7-9f39-2aad50248875.png)

[2017-08-18 21:46] e-jameson commented on #64
This channel has been updated. I've spot-checked a few usernames that Derek gave me, so I think we can call testing good on this one.

[2017-08-18 21:47] #64 closed

[2017-08-18 21:54] e-jameson commented on #22
I've updated the links to be wrapped in the SSO Manager

[2017-08-21 13:03] johjacb commented on #147
all pages besides the home page are doing this.

this is the result of a JS error. i've fixed it and that change will be rolling out soon

[2017-08-21 13:03] #147 closed

[2017-08-21 16:26] dstavem commented on #89
I've added a field to the procedure bth_portal_channel_api.class_list_fac called "crse_roster_url."

This has a URL to an Argos report that should pull up a pdf roster of the students in the class with their photos.

I've done a bit of testing on my end, but please test it out a bit on your side, and let me know if you experience any issues.

[2017-08-22 16:15] c-schwarze commented on #125
This exists on the test tab. Let me know if there should be any design changes.

[2017-08-22 16:16] c-schwarze commented on #94
This is up and working. We added it as an option in the admin interface.

[2017-08-22 16:16] #94 closed

[2017-08-22 16:16] c-schwarze opened #148 "Need to add permissions to the admin interface"

[2017-08-22 16:34] c-schwarze commented on #22
Seems to be working just fine. Closing.

[2017-08-22 16:34] #22 closed

[2017-08-22 22:02] c-schwarze commented on #142
We found and fixed the main issue. Cacheing and not clearing session every page load will drastically fix things. We can probably speed our code up a bit down the road.

[2017-08-22 22:02] #142 closed

[2017-08-22 22:04] c-schwarze opened #152 "Screen Readers and Portal"
We should go through and make sure that the portal is able to be processed correctly with screen readers.

[2017-08-23 16:59] johjacb commented on #106
i believe this has been completed

[2017-08-23 16:59] #106 closed

[2017-08-23 17:37] johjacb commented on #49
i think we should add a notification bubble to 'Checklist' in the nav. i think it would really draw attention

[2017-08-23 18:36] c-schwarze commented on #49
I agree. @tim-heck want to give this a shot when you finish up your other projects?